<div class="page-header">
	<div class="row">
		<div class="col-md-1">
			<div><%= image_tag @user.gravatar_url, class: "img-rounded" %></div>
		</div>
		<div class="col-md-4">
			<h1><%= @user.full_name %></h1>
			<% if @user == current_user %>
				<h6>To change your avatar, create a <a href="http://en.gravatar.com/">Gravatar</a> account.</h6>
			<% end %>
		</div>
		<% unless @user == current_user %>
			<div class="col-md-1 col-md-push-5 add-friend-btn">
				<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<%= status.content %>
			<hr />
			<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
		</div>
	<% end %>
<% end %>