<div class="page-header">
	<div class="row">
		<div class="col-md-1">
			<div><%= image_tag @user.gravatar_url, class: "img-rounded" %></div>
		</div>
		<div class="col-md-4">
			<h1><%= @user.profile_name %> <small><%= @user.full_name %></small></h1>
			<% if @user == current_user %>
				<h6>To change your avatar, create a <a href="http://en.gravatar.com/">Gravatar</a> account.</h6>
			<% end %>
		</div>
		<% if user_signed_in? %>
			<% unless @user == current_user %>
				<div class="col-md-1 col-md-push-5">
					<% unless @user_friendship %>
						<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: "btn btn-primary add-friend-btn" %>
					<% else %>
						<% if @user_friendship.requested? %>
							<%= link_to "Accept friendship", edit_user_friendship_path(@user_friendship), class: "btn btn-primary accept-friendship-btn" %>
						<% elsif @user_friendship.pending? %>
							<%= link_to "Delete request", edit_user_friendship_path(@user_friendship), class: "btn btn-danger delete-request-btn" %>
						<% else %>
							<%= link_to "Unfriend", edit_user_friendship_path(@user_friendship), class: "btn btn-danger unfriend-btn" %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<%= status.content %>
			<hr />
			<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
		</div>
	<% end %>
<% end %>