<div class="page-header">
	<h1>Viewing Friendship</h1>
</div>

<h3><%= @user_friendship.sub_message %></h3>

<div class="form-actions">
	<% if @user_friendship.requested? %>
		<%= form_for @user_friendship, url: accept_user_friendship_path(@user_friendship), method: :put do |form| %>
			<div class="accept-friendship-btn-index"><%= submit_tag "Accept Friendship", class: "btn btn-primary" %></div>
		<% end %>
	<% end %>

	<%= form_for @user_friendship, url: user_friendship_path(@user_friendship), method: :delete do |form| %>
		<div><%= submit_tag "Delete Friendship", class: "btn btn-warning" %></div>
	<% end %>

	<%= form_for @user_friendship, url: block_user_friendship_path(@user_friendship), method: :put do |form| %>
		<div class="block-friendship-btn-index"><%= submit_tag "Block Friendship", class: "btn btn-danger" %></div>
	<% end %>
</div>