<div class="page-header">
	<h1>Friends</h1>
</div>

<% @user_friendships.each do |friendship| %>
	<% friend = friendship.friend %>
	<div class="friend-index">
		<div id="<%= dom_id(friendship) %>" class="friend row">
			<div class="col-md-1">
				<%= link_to image_tag(friend.gravatar_url, class: "img-rounded"), profile_path(friend) %>
			</div>
			<div class="col-md-6">
				<div class="friendships-index-profile-name"><strong><%= friend.profile_name %></strong></div><br />
					<% if friendship.pending? %>
						<em>Friendship is pending.</em> <%= link_to "Delete request", edit_user_friendship_path(friendship) %>
					<% end %>
					<% if friendship.requested? %>
						<em>Friendship requested.</em> <%= link_to "Accept friendship", edit_user_friendship_path(friendship) %>
					<% end %>
					<% if friendship.accepted? %>
						<em>Friendship started <%= friendship.updated_at %>.</em> <%= link_to "Update friendship", edit_user_friendship_path(friendship) %>
					<% end %>
			</div>
		</div>
	</div>
<% end %>