<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.input :email, :autofocus => true, input_html: { class: "form-control" } %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.input :password, :autocomplete => "off", input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :password_confirmation, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :current_password, input_html: { class: "form-control" } %>
  </div>

  <div><%= f.submit "Update", class: "btn btn-primary" %></div>
<% end %>

<div id="cancel-my-account">
  <h3>Cancel my account</h3>

  <p>Unhappy?</p>

  <div id="cancel-my-account-button">
    <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %>
  </div>

  <div style="padding: 10px 0 40px 0">
    <%= link_to "Back", :back %>
  </div>
</div>