<%= simple_form_for(@status, html: {multipart: true}) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content, input_html: { rows: 8, cols: 30 } %>
  <%= f.fields_for :document do |document_fields| %>
    <% if document_fields.object.image? %>
      <div class="control-group">
        <label class="control-label">Current image</label>
        <div class="controls">
          <%= link_to document_fields.object.image_file_name, document_fields.object.image.url %>
        </div>
      </div>
      <%= document_fields.input :_destroy, as: :boolean, label: "Remove image?" %>
    <% end %>
    <%= document_fields.input :image, as: :file %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-success submit-btn' %>
  </div>
<% end %>
