<div class="page-header">
	<div class="row">
		<div class="col-md-1">
			<div><%= image_tag @status.user.gravatar_url %></div> <!-- Why does this work?? -->
		</div>
		<div class="col-md-4">
			<h1><%= @status.user.profile_name %> <small><%= @status.user.full_name %></small></h1>
		</div>
	</div>
</div>

<div class="well">
	<p>
	  <%= @status.content %>
	</p>
	<%= link_to @status.document.image_file_name, @status.document.image.url if @status.document %>
	<hr>
</div>

<% if user_signed_in? %>
	<% if @status.user == current_user %>
		<%= link_to 'Edit', edit_status_path(@status) %> |
	<% end %>
<% end %>
<%= link_to 'Back', statuses_path %>
