<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.user.profile_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
