<!DOCTYPE html>
<html>
<head>
  <title>Antisocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
		<%= link_to "Antisocial", activities_path, class: "navbar-brand" %>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	      <li class="all-statuses"><%= link_to "All Statuses", feed_path %></li>
	      <% if user_signed_in? %>
	      	<li class="activity-feed"><%= link_to "Activity Feed", activities_path %></li>
	      <% end %>
	      <!-- <li><a href="#">About</a></li> -->
	    </ul>
	    <form class="navbar-form navbar-left navbar-right" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search">
	      </div>
	      <button type="submit" class="btn btn-default">Submit</button>
	    </form>
	    <ul class="nav navbar-nav navbar-right">
	    	<% if user_signed_in? %>
			    <ul class="nav navbar-nav navbar-right">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %> <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><%= link_to "Profile", profile_path(current_user.profile_name) %></li>
			          <li class="divider"></li>
			          <li><%= link_to "Friends", user_friendships_path %></li>
			          <li class="divider"></li>
			          <li><%= link_to "Preferences", preferences_path %></li>
			        </ul>
			      </li>
			    </ul>
		    	<li id="sign-out"><%= link_to "Sign Out", logout_path %></li>
		    <% else %>
		    	<li id="register"><%= link_to "Register", register_path %></li>
		    	<li id="log-in"><%= link_to "Log in", login_path %></li>
	    	<% end %>
	    </ul>
	  </div>
	</nav>

	<div class="container" style="margin-top: 60px">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class(type) %>">
				<button class="close" data-dismiss="alert">√</button>
				<%= message %>
			</div>
		<% end %>

		<%= yield %>
	</div>
</body>

<script>
	$( ".all-statuses, .activity-feed, #sign-out, #register, #log-in" ).mousedown(function() {
		$( this ).addClass( "active" );
	});
</script>

</html>
